%div.container
  %div.header
    %ul.nav.nav-pills.pull-right
      %li
        %a(href="/") Home
      %li
        %a(href="/rooms") Rooms
      %li.active
        %a(href="/about") About
    %h3.text-muted Real Time Chat System

  %div.jumbotron

