%div.container
  %div.header
    %ul.nav.nav-pills.pull-right
      %li
        %a(href="/") Home
      %li.active
        %a(href="/rooms") Rooms
      %li
        %a(href="/about") About
    %h3.text-muted Real Time Chat System

  %div.row
    %div.col-md-8
      %div.well.well-lg
        %h3.room-title
          %span.glyphicon.glyphicon-home
          部屋名1
        %p 注釈
      %div.well.well-lg
        %h3.room-title
          %span.glyphicon.glyphicon-home
          部屋名2
        %p 注釈
